body{
    background-color: rgb(172, 154, 154);
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}
.col-md-4 {
    background-color: white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    min-width: 250px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    margin: 10px;
    padding: 20px;
}


h3 {
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 10px 0 0 0;
}
.icon i:hover {
    background-color: rgb(172, 154, 154);
    border-radius: 50%;
    padding: 5px;

    
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
button{
    background-color: rgb(255, 255, 255);
    color: rgb(78, 67, 67);
    border-top: 2px solid rgb(189, 15, 15);
    border-bottom: 2px solid rgb(189, 15, 15);
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
}

